<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome <%= @user.email %>!</h1>
  <p>
    You have successfully signed up for My Awesome Site.
    Please click the link below to log in:
  </p>
  <a href="<%= @url %>">Log in</a>
</body>
</html>
