<div style="text-align: center;">
    <h1>About Us</h1>
</div>
<br>
<div>
    <h5>Launched in 2015, GRK Info Services strives to create a world of opportunities where technological innovations create value and holistic development for all sections of the society.

Within a short span of merely five years, we have expanded and diversified our products and solutions, evolving and improvising continuously based on specific needs of our clients. We cater to national as well as international companies, partnering with them to create end-to-end strategic solutions and implementation assistance for multi-technology projects.

To this end, we develop products and solutions that provide cutting-edge technological support to corporate organizations for implementing their corporate social responsibility (CSR) initiatives in India.</h5>
</div>